<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ahmad.app.sport_nahf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoteEditor"></activity>
        <activity android:name=".hzmanot" />
        <activity android:name=".allweather" />
        <activity android:name=".rainbow" />
        <activity android:name=".fise1" />
        <activity android:name=".a203" />
        <activity android:name=".a301" />
        <activity android:name=".a203c" />
        <activity android:name=".smc" />
        <activity android:name=".shol7anot" />
        <activity android:name=".wbmp" />
        <activity android:name=".phc" />
        <activity android:name=".wbob" />
        <activity android:name=".gdib46" />
        <activity android:name=".wbub" />
        <activity android:name=".best" />
        <activity android:name=".b3060" />
        <activity android:name=".gfid71" />
        <activity android:name=".wbubs" />
        <activity android:name=".grch322" />
        <activity android:name=".gpcb329" />
        <activity android:name=".gfi21" />
        <activity android:name=".target2051" />
        <activity android:name=".bowflex41" />
        <activity android:name=".ghyp45" />
        <activity android:name=".b90" />
        <activity android:name=".gab60" />
        <activity android:name=".target2050" />
        <activity android:name=".ninja" />
        <activity android:name=".gst20" />
        <activity android:name=".gfb350" />
        <activity android:name=".bsu" />
        <activity android:name=".b180" />
        <activity android:name=".a1011" />
        <activity android:name=".a9201" />
        <activity android:name=".prctz7862" />
        <activity android:name=".prctz7846" />
        <activity android:name=".prctz8216" />
        <activity android:name=".a1076" />
        <activity android:name=".a797" />
        <activity android:name=".a1077" />
        <activity android:name=".a7in1" />
        <activity android:name=".target104" />
        <activity android:name=".a340" />
        <activity android:name=".sfotkosher" />
        <activity android:name=".cr800" />
        <activity android:name=".spiritcu800" />
        <activity android:name=".schwinnic8" />
        <activity android:name=".c510" />
        <activity android:name=".schwinnic7" />
        <activity android:name=".schwinn570r" />
        <activity android:name=".schwinn570u" />
        <activity android:name=".cx630pro" />
        <activity android:name=".ad2" />
        <activity android:name=".totalbody" />
        <activity android:name=".spinfit" />
        <activity android:name=".stylepro" />
        <activity android:name=".a19090" />
        <activity android:name=".novo" />
        <activity android:name=".a686" />
        <activity android:name=".spacerplus" />
        <activity android:name=".basic" />
        <activity android:name=".lifegear" />
        <activity android:name=".mobileplus" />
        <activity android:name=".xfit" />
        <activity android:name=".ofnekosher" />
        <activity android:name=".sgs" />
        <activity android:name=".combo" />
        <activity android:name=".f500" />
        <activity android:name=".wbmsy" />
        <activity android:name=".exm2000" />
        <activity android:name=".wblsy" />
        <activity android:name=".a9101" />
        <activity android:name=".grizzley" />
        <activity android:name=".pr1000" />
        <activity android:name=".conanpro" />
        <activity android:name=".tiger" />
        <activity android:name=".cobra" />
        <activity android:name=".multitrainer" />
        <activity android:name=".mshkolot" />
        <activity android:name=".aa101" />
        <activity android:name=".aliptekal" />
        <activity android:name=".example" />
        <activity android:name=".spiritce800" />
        <activity android:name=".eglide" />
        <activity android:name=".bowflexm6" />
        <activity android:name=".bowflexm3" />
        <activity android:name=".doublewheel" />
        <activity android:name=".e7000" />
        <activity android:name=".skyline" />
        <activity android:name=".bx200" />
        <activity android:name=".expo" />
        <activity android:name=".york902" />
        <activity android:name=".solo" />
        <activity android:name=".uno" />
        <activity android:name=".Ct800" />
        <activity android:name=".AcSole" />
        <activity android:name=".UltraPlus" />
        <activity android:name=".Polaris" />
        <activity android:name=".Jumbo" />
        <activity android:name=".MercuryPlus" />
        <activity android:name=".RecordPro" />
        <activity android:name=".Legacy" />
        <activity android:name=".Supreme" />
        <activity android:name=".Matador" />
        <activity android:name=".Olympic" />
        <activity android:name=".Universe" />
        <activity android:name=".Malibu" />
        <activity android:name=".GelPlatinum" />
        <activity android:name=".Edison" />
        <activity android:name=".Apollo" />
        <activity android:name=".GelRunner" />
        <activity android:name=".Reflex" />
        <activity android:name=".GelTarget" />
        <activity android:name=".Blazer" />
        <activity android:name=".GelMaster" />
        <activity android:name=".Excel" />
        <activity android:name=".SilverPro" />
        <activity android:name=".Austin" />
        <activity android:name=".omega7" />
        <activity android:name=".AC2000" />
        <activity android:name=".hale5onem" />
        <activity android:name=".pingpong" />
        <activity android:name=".workout" />
        <activity android:name=".tfret" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>